*{
        margin-top: 0px;
        padding: 0px;
        box-sizing: border-box;
}
section{
        min-height: 102vh;
        padding: 10rem 3% 4rem;
}


/*      ..............  Home Section Start.............    */

/*      .............  Header Menu Bar Start  ..................*/


.header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0rem 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        box-shadow: 2px 3px 9px ;
        background-image: url(head.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
.logo{
        cursor: default;
}
.logo img{
        margin-top: 5px;
        width: 120px;
        cursor: pointer;
}

.navbar a{
        font-size: 1.2rem;
        color: var(--text-color);
        margin-left: 2rem;
        transition: .5s;
        font-weight: bold;
}
.navbar a:hover, .navbar a.active{
        color: rgba(255, 255, 255, 0.597);
}
#menu-icon{
        font-size: 2.5rem;
        color: rgb(251, 206, 123);
        display: none;
        transition: .5s;
}
#menu-icon:hover{
        font-size: 2.5rem;
        color: rgb(255, 255, 255);
        cursor: pointer;
}

/*      .............  Header Menu Bar End ..................*/

/*      .............  Home Section Start  ..................*/

.home{
        background-image: url(img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 5px 10px black;
        opacity: .9 ;
}
h1{
        font-size: 50px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
}
.home-content{
        box-shadow: 2px 2px 10px rgb(0, 0, 0);
        padding: 50px;
        background-color: rgba(165, 164, 164, 0.527);
}
.home-content{
        font-size: 30px;
        text-align: center;;
}
i{
        color: rgb(255, 252, 252);
        background-color: rgba(0, 0, 0, 0.356);
        padding: 5px 30px 5px 30px ;
        box-shadow: 2px 2px 10px red;
        border-radius: 5px;
}
i:hover{
        color: black;
        background-color: rgba(255, 255, 255, 0.363);
}
.btn{
        font-size: 25px;
        margin-top: 30px;
}
.btn a{
        padding: 5px 40px 5px 40px;
        margin-top: 20px;
        box-shadow: 2px 2px 10px black;
        color: black;
        text-decoration: none;
        border: 1px solid red;
        background-color: rgba(185, 195, 204, 0.493);
        border-radius: 5px;
}
.btn a:hover{
        background-color: rgba(61, 153, 233, 0.308);
}
/*     .................   Home Section  End  ..................*/

/*     .................   Services Section Start  ....................*/
.services{
        background-color: rgba(77, 80, 80, 0.39);
        box-shadow: 2px 5px 10px black;
}
.services h2{
        font-size: 3rem;
        margin-top: -1rem;
        margin-bottom: 3rem;
        text-align: center;
}
.services-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
}
.services-container .services-box{
        flex: 1 1 20rem;
        background-color: rgba(28, 206, 206, 0.144);
        padding: .4rem .6rem .7rem;
        border-radius: .4rem;
        text-align: center;
        border: 1px solid red;
        transition: .5s ease;
}
.services-container .services-box:hover{
        transform: scale(1.03);
        box-shadow: 3px 8px 15px black;
}
.services-box h3{
        font-size: 1.5rem;
        margin-bottom: -.4rem;
        color: white;
        font-weight: bold;
}
.services-box p{
        margin-top: 30px;
        font-size: 1rem;
        line-height: 120%;
}

/*      .............  Services Section End  ..................*/

/*      .............  Manegment Section Start  ..................*/

.management{
        background-color: rgba(105, 101, 101, 0.356);
}
 h2{
        margin-top: -50px;
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
        color: white;
        text-shadow: 2px 4px 8px black;
}
.management-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 1.5rem;
}
.management-container .management-box{
        position: relative;
        border-radius: .5rem;
        box-shadow: 2px 2px 4px rgb(243, 0, 0);
        overflow: hidden;
        display: flex;
}
.management-box img{
        width: 110%;
        height: 230px;
        transition: .5s;
}
.management-box:hover img{
        width: 110%;
        transform: scale(1.04);
}
.management-box .management-layer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(92, 89, 89, 0.575);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
        transform: translateY(100%);
        transition: .5s ease;
}
.management-box:hover .management-layer{
        transform: translateY(0%);
}
.management-layer h4{
        font-size: 2rem;
        padding: .5rem;
        color: white;
}
.management-layer p{
        font-size: 1rem;
        color: white;
}

/*      .............  Manegment Section End  ..................*/

/*.....................Room Section Starts..................................*/

.room{
        background-color: rgba(105, 101, 101, 0.356);
}
h2{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -50px;
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
        color: white;
        text-shadow: 2px 4px 8px black;
}
.room-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 1.5rem;
        box-shadow: 2px 6px 15px black;
}
.room-container .room-box{
        position: relative;
        border-radius: .5rem;
        box-shadow: 2px 2px 4px rgb(70, 68, 68);
        overflow: hidden;
        display: flex;
}
.room-box img{
        width: 110%;
        height: 230px;
        transition: .5s;
}
.room-box:hover img{
        width: 110%;
        transform: scale(1.04);
}
.room-box .room-layer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(63, 61, 61, 0.712);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
        transform: translateY(100%);
        transition: .5s ease;
}
.room-box:hover .room-layer{
        transform: translateY(0%);
}
.room-layer h4{
        font-size: 2rem;
        padding: .5rem;
        color: white;
}
.room-layer p{
        font-size: 2rem;
        color: white;
}


/*.....................Room Section End.................................*/

/*.......................About Section Start................................*/

.about{
        background-color: rgba(112, 107, 107, 0.411);
        box-shadow: 5px 10px 20px black;
}
.about h4{
        font-size: 30px;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 4px black;
}
.about-container{
        background-color: rgba(127, 143, 98, 0.685);
        margin-top: 80px;
        border: 4px solid black;
        width: 50%;
        padding: 10px;
        float: right;
        box-shadow: 4px 8px 20px rgba(0, 0, 255, 0.596);
        border-radius: 5px;
}
.location-container iframe{
        margin-top: -20px;
        border: 2px solid red;
}
.about-container1{
        background-color: rgba(54, 53, 53, 0.685);
        border: 4px solid black;
        width: 40%;
        padding: 10px;
        box-shadow: 4px 8px 20px rgba(38, 38, 43, 0.582);
        border-radius: 5px;
}
.about1{
        font-size: 27px;
        text-align: center;
        color: rgb(243, 42, 42);
        text-shadow: 2px 2px 3px black;
        letter-spacing: 2px;
        font-weight: bold;
}
.about2{
        margin-top: -20px;
        text-decoration: underline;
        font-size: 25px;
        text-align: center;
        color: rgb(255, 254, 254);
        text-shadow: 2px 2px 3px black;
        letter-spacing: 2px;
        font-weight: bold;
}
.about3{
        font-size: 20px;
        letter-spacing: 2px;
        color: rgba(80, 181, 221, 0.678);
        font-weight: bold;
}
/*.......................About Section End................................*/


/*      .............  Contact Section Start  ..................*/

.contact{
        background-color: rgba(128, 224, 109, 0.26);
        box-shadow: 5px 10px 18px rgb(8, 8, 8);
}
.contact form{
        background-color: rgba(79, 196, 196, 0.61);
        max-width: 100rem;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 1rem;
}
.contact form .input-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        color: black;
        background: rgba(94, 89, 89, 0.288);
        border-radius: .3rem;
        margin: .8rem 0;
}
.contact form .input-box input{
        width: 49%;
        font-size: 1rem;
        font-weight: bold;
}
.contact form textarea{
        resize: none;
        font-size: 1rem;
        font-weight: bold;
}
form{
        padding: 1rem;
        box-shadow: 4px 10px 20px red;
        border-radius: 10px;
        border-color: 2px red;
}
form:hover{
        box-shadow: 4px 10px 20px rgb(15, 15, 15);
}

/*      .............  Contact Section End  ..................*/

/*      .............  Footer  Section Start  ..................*/

.footer{
        background-color: rgb(31, 30, 30);
        height: 20%;
}
.footer-text{
        margin-top: 10px;
        color: white;
        text-align: center;
        display: flex;
        font-size: 20px;
}
.foot{
        margin-left: 40px;
        margin-top: 20px;
}
.footer-icon{
        margin-left: 40px;
        margin-top: 5px;
        justify-content: right;
}
.footer-icon img{
        height: 50px;
        width: 50px;
}
/*      .............  Footer  Section End  ..................*/